
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply scroll-smooth;
  }
  section[id], footer[id] {
    scroll-margin-top: 100px;
  }
  :root {
    --background: 0 0% 98%;
    --foreground: 240 6% 10%;
    --card: 0 0% 100%;
    --card-foreground: 240 6% 10%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 6% 10%;
    --primary: 45 96% 57%; /* gold/yellow */
    --primary-foreground: 240 6% 10%; /* dark for contrast */
    --secondary: 240 5% 96%;
    --secondary-foreground: 240 6% 10%;
    --muted: 240 5% 96%;
    --muted-foreground: 240 4% 46%;
    --accent: 45 95% 91%; /* light yellow */
    --accent-foreground: 240 6% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5% 90%;
    --input: 240 5% 90%;
    --ring: 45 96% 57%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 240 6% 10%; /* dark grey */
    --foreground: 0 0% 98%; /* off-white */
    --card: 240 5% 16%;
    --card-foreground: 0 0% 98%;
    --popover: 240 6% 10%;
    --popover-foreground: 0 0% 98%;
    --primary: 45 96% 57%; /* gold/yellow */
    --primary-foreground: 240 6% 10%; /* dark for contrast */
    --secondary: 240 5% 16%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 5% 16%;
    --muted-foreground: 240 4% 46%;
    --accent: 240 4% 25%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 4% 25%;
    --input: 240 4% 25%;
    --ring: 45 96% 57%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
